.product-list{
display:flex;
flex-wrap:wrap;
gap:30px;
align-items:center;
justify-content:center;
}
.form{
    background-color: #EAF7F0;
        padding: 20px;
        border-radius: 12px;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
        width: 400px;
        margin:auto;
      margin-top:20px

}

label {
    font-weight: bold;
    color: #2D5C4F;
    display: block;
    margin-top: 15px;
}
input,select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 2px solid #bbc1bd; /* Greenish tint */
    border-radius: 6px;
    font-size: 16px;
    background:#ffffff;
    transition: all 0.3s ease-in-out;
}
input:focus, select:focus {
    border-color: #1A3D2F; /* Dark Green */
    outline: none;
    box-shadow: 0px 0px 5px rgba(26, 61, 47, 0.4);
}
.submit{
margin-top:20px;
}
.button {
      background-color:green;
  /* Button background */
    color: white; /* Text color */
    width: 100%;
    font-size: 14px;
    border: none;  /* Removes default button border */
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    margin-top: 15px;
    padding: 13px;
    font-weight:600;
    text-decoration:none;

}
.button:hover {
    background-color: #145030; /* Slightly brighter green */
}
.button:active{
    background-color:green;
    color:white;    
}