.card{
   display:flex;
   align-items:center;
   flex-Direction:column;
   gap:20px;
   margin-left:14px;
   margin-top:20px;
}
.card-img-top{
   height:200px;
   width:800px;
   border-radius:50px;
}
.cardButton{
   margin-top:20px;
}
